body{
    background-color: peachpuff;
}

.container-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* flex-wrap: wrap; */
    margin: 3rem;
}

img{
    width: 50%;
    padding-bottom: 2rem;
}


.input-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 20rem;
    height: 1.5rem;
}

